<div>
            <label>Date</label>
            <input type="datetime-local" 
                    name="dateTime"
                    value="<%= foodEntry?.dateTime?.toISOString()?.slice(0, -1) %>" />
        </div>
        <div>
            <label>Food Name</label>
            <input type="text" name="foodName" value="<%= foodEntry?.foodName %>" />
        </div>
        <div>
            <label>Calories</label>
            <input type="number" name="calories" value="<%= foodEntry?.calories %>" />
        </div>
        <div>
            <label>Meal:</label>
            <input type="radio" name="meal" value="breakfast" 
                <%= foodEntry?.meal == "breakfast" ? "checked" : "" %>
            />
            <label>Breakfast</label>

            <input type="radio" name="meal" value="lunch" 
                <%= foodEntry?.meal == "lunch" ? "checked" : "" %>
            
            />
            <label>Lunch</label>

            <input type="radio" name="meal" value="dinner" 
                <%= foodEntry?.meal == "dinner" ? "checked" : "" %>
            />
            <label>Dinner</label>

            <input type="radio" name="meal" value="snack" 
                <%= foodEntry?.meal == "snack" ? checked : "" %>
            />
            <label>Snack</label>
        </div>
        <div>
            <label>Tags</label>
            <input type="checkbox" name="tags[]" value="vegan"
                <%= foodEntry?.tags?.includes("vegan") ? "checked" : "" %>
            />
            <label>Vegan</label>
            <input type="checkbox" name="tags[]" value="vegetarian" 
                <%= foodEntry?.tags?.includes("vegetarian") ? "checked" : "" %>
            />
            <label>Vegetarian</label>
            <input type="checkbox" name="tags[]" value="glutten-free"
                <%= foodEntry?.tags?.includes("glutten-free") ? "checked" : "" %>
            />
            <label>Gluten-Free</label>
            <input type="checkbox" name="tags[]" value="low-carb"
                <%= foodEntry?.tags?.includes("low-carb") ? "checked" : "" %>
            />
            <label>Low Carb</label>
            <input type="checkbox" name="tags[]" value="low-fat"
                <%= foodEntry?.tags?.includes("low-fat") ? "checked" : "" %>
            />
            <label>Low Fat</label>
        </div>
        <div>
            <input type="number" name="servingSize" value="<%= foodEntry?.servingSize %>"/>
            <label>Unit</label>
            <select name="unit">
                <option value="serving"
                    <%= foodEntry?.unit == "serving" ? "selected" : "" %>
                >Serving</option>
                <option value="gram"
                     <%= foodEntry?.unit == "gram" ? "selected" : "" %>
                >Gram</option>
                <option value="ounce"
                     <%= foodEntry?.unit == "ounce" ? "selected" : "" %>
                >Ounce</option>
                <option value="pound"
                     <%= foodEntry?.unit == "pound" ? "selected" : "" %>
                >Pound</option>
            </select>
        </div>
       